RETENTION=6
HOST=evl1901115.eu.verio.net
MONGOS=27005
RS0=27000
RS1=27100
CONFIGSERVER=27002
PMOUNT=/mnt/backup/bckmountpoint
SNAPSIZE=90G
PBACK=/mnt/backup
PBACK_LOG=/mnt/backup/logs
#MONGOPATH=/data
LVMONGO=vg_02/mongo
NOTIFY=backups@backups.cs.atlasit.com backupmongo@gaa9.com
#NOTIFY=marc.herrera@ntt.eu
IDMAQUINA=MH00293
MAIL=/usr/bin/mail
